.main-nav{
    position: fixed;
    bottom:0;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    background: rgba(0,15,27,0.9);
    z-index:9999999;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.09rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    overflow-x: -moz-scrollbars-none;
    overflow-x: auto;
    &::-webkit-scrollbar { 
        display: none; 
    }
    ul{
        list-style: none;
        display: flex;
        padding: 1rem 0 1rem;
        margin: 0;
        
    }
    li{
        padding:1rem;
        text-transform: uppercase;

    }
    a {
        color:#fff;
    }
}

@media(min-width:640px){
    .main-nav{
        top:0;
        right:0;
        bottom: auto;
        width: 100%;
        
        ul{
            flex-direction: row-reverse;
            padding: 0;
        }
        li{
            padding:1rem;
            text-transform: uppercase;
    
        }
        a {
            color:#fff;
        }
    }
  }